body {
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: #0D1117;
    color: white;
}

#preview, #editor{
    background: #0D1117;
    /* Aspectos de Caja */
    width: 46%;
    height: 91vh;
    overflow-y: scroll;
    padding: 15px;
    margin: 10px;
    /* Aspectos visuales */
    border: solid 1px;
    border-color: #3D444D;
    border-radius: 1.5em;
    color: white;
}

textarea:focus-visible, textarea:focus, textarea {
    outline: 0px;
    font-family: Comfortaa;
}

/*
    Aspectos Visuales de Mermaid

          < Proximamente>
*/

/* Centrar Fragmentos de codigo y Mermaid */
pre {
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 1.5em;
}

::-webkit-scrollbar{
    display: none;
}

@media (max-width: 768px) {
    body {
        flex-direction: column ;
    }

    #preview, #editor {
        width: 84vw;
    }

    #editor {
        height: 22.5vh;
    }

    #preview {
        height: 57vh;
    }
}
